<div class="row">
    <div class="col-6">
      Grafica 
      <app-dona title="Ventas"></app-dona>
    </div>
    <div class="col-6">
      Grafica 
      <app-dona
      [labels1]="labels1"
      [data1]="data1"
      title="Holi"
                
                    
      ></app-dona>
    </div>
</div>

<div class="row">
  <div class="col-6">
    Grafica 
    <app-dona  
    [labels1]="labels2"
    [data1]="data2"
    ></app-dona>
  </div>
  <div class="col-6">
    Grafica 
    <app-dona></app-dona>
  </div>
</div>